@import '../../styles/constants.scss';
@import '../../styles//mixins.scss';

.header__icons-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__icons-btn {
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}
