/*Fonts*/
$primaryFontRegular: 'Gilroy-Regular';
$primaryFontBold: 'Gilroy-Bold';
$primaryFontMedium: 'Gilroy-Medium';

/*Colors*/
$white: #ffffff;
$black: #000000;
$grey: #898989;
$peach: #e89f71;
$cherry: #e97171;
$lime: #2ec1ac;

/*Media-sizes*/
$big: 1499px;
$xl: 1200px;
$lg: 992px;
$sm: 576px;
