@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.advatages-list__item {
  @include flex-row;
}

.list-item__img-wrapper {
  @include flex-row;
  align-items: center;
}

.list-item__descr-wrapper {
  @include flex-column;
  justify-content: space-between;
  padding-left: 26px;
}

.list-item__descr-subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: $black;
  white-space: nowrap;
}

.list-item__descr-text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $grey;
  white-space: nowrap;
}
